<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/element-plus/2.4.3/theme-chalk/index.min.css" />
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/3.3.4/vue.global.prod.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/element-plus/2.4.3/index.full.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/element-plus-icons-vue/2.3.1/index.iife.min.js"></script>
    <title>Cube</title>
    <base target="_blank" /><!-- 网页中所有的超链接的目标地址都在新建窗口中打开 -->
    <style>
        html, body {
            height: 100%;
            margin: 0;
            background-color: #f0f2f5;
        }
        .el-table {
            border-top: 1px solid #dcdfe6;
        }
        .el-pagination {
            flex: auto;
            margin-top: 13px;
        }
        .el-pagination .is-first {
            flex: auto;
        }
        .el-table .disabled {
            border-color: #e4e7ed;
            color: #c0c4cc;
            cursor: not-allowed;
        }
        .el-dialog .el-input-group__prepend .el-checkbox-group {
            margin: 0 -20px;
        }
        .el-dialog .el-input-group__prepend .el-checkbox-button__inner {
            border-right: 0;
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
            text-decoration: line-through;
            color: var(--el-disabled-text-color);
        }
        .el-dialog .el-input-group__prepend .is-checked .el-checkbox-button__inner {
            text-decoration: none;
            color: white;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak style="height: 100%; padding: 32px; position: relative;">
        <el-link type="primary" :underline="false" style="font-weight: 200; font-size: 1.6rem; padding: 8px 0; margin-bottom: 20px; text-shadow: 1px 1px 1px #79bbff;" href="/document.html">
            <el-icon><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32"><path d="M28.504 8.136l-12-7a1 1 0 0 0-1.008 0l-12 7A1 1 0 0 0 3 9v14a1 1 0 0 0 .496.864l12 7a1 1 0 0 0 1.008 0l12-7A1 1 0 0 0 29 23V9a1 1 0 0 0-.496-.864zM16 3.158L26.016 9L16 14.842L5.984 9zM5 10.74l10 5.833V28.26L5 22.426zM17 28.26V16.574l10-5.833v11.685z" fill="currentColor"></path></svg></el-icon>
            Cube
        </el-link>
        <el-card>
            <el-row style="padding-bottom: 10px;">
                <el-button :icon="Plus" @click="onDialogNew">New</el-button>
                <el-upload :auto-upload="false" action="" :on-change="onTableImport" :show-file-list="false" accept="application/json" style="display: none;">
                    <el-button ref="UploadRef"></el-button>
                </el-upload>
                <el-button-group style="padding-left: 5px;">
                    <el-button :icon="Upload" @click="UploadClick">Import</el-button>
                    <el-button :icon="Download" @click="onTableExport">Export</el-button>
                </el-button-group>
                <div style="margin-left: auto; display: inline-flex;">
                    <el-input v-model="table.search.keyword" placeholder="Enter keyword here" clearable @change="onTableFetch(true)" :suffix-icon="Search">
                        <template #prepend>
                            <el-select v-model="table.search.type" placeholder="Select a type" clearable @change="onTableFetch(true)" style="width: 160px; background-color: var(--el-fill-color-blank);">
                                <el-option v-for="type in Object.keys(constants.type)" :key="type" :label="type" :value="type">
                                </el-option>
                            </el-select>
                        </template>
                    </el-input>
                </div>
            </el-row>
            <el-row>
                <el-table v-loading="table.loading" :data="table.records" stripe :row-class-name="({ row: record }) => record.active ? '' : 'disabled'" @sort-change="onTableSortChange" table-layout="fixed">
                    <el-table-column label="Name" prop="name" sortable :show-overflow-tooltip="true">
                        <template #default="scope">
                            <el-button link type="primary" @click="onTableRowEdit(scope.row)">
                                {{ scope.row.name }}
                            </el-button>
                        </template>
                    </el-table-column>
                    <el-table-column label="Type">
                        <template #default="scope">
                            {{ scope.row.type }}
                        </template>
                    </el-table-column>
                    <el-table-column label="Language">
                        <template #default="scope">
                            {{ scope.row.lang }}
                        </template>
                    </el-table-column>
                    <el-table-column label="Last Modified Date" prop="last_modified_date" :formatter="(row, column, value) => value?.replace(/T/, ' ')?.replace(/Z/, '')" sortable>
                    </el-table-column>
                    <el-table-column label="Operation">
                        <template #default="scope">
                            <el-switch v-model="scope.row.active" @change="onTableRowActiveSwitch(scope.row)" style="margin-right: 12px;" :disabled="scope.row.status === 'true'">
                            </el-switch>
                            <el-button link type="primary" @click="onTableRowCode(scope.row)" :icon="Edit" v-if="scope.row.status !== 'true'">
                            </el-button>
                            <el-button link type="danger" @click="onTableRowDelete(scope.row)" :icon="Delete" v-if="!scope.row.active">
                            </el-button>
                            <el-button link :type="scope.row.status === 'true' ? 'danger' : 'primary'" @click="onTableRowStatusSwitch(scope.row)" v-if="scope.row.type == 'daemon' && scope.row.active">
                                <el-icon>
                                    <component :is="scope.row.status === 'true' ? VideoPause : VideoPlay"></component>
                                </el-icon>
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <el-pagination @size-change="onTablePageSizeChange" @current-change="onTablePageCurrentChange" :current-page="table.pagination.index" :page-sizes="[5, 10, 20, 50]" :page-size="table.pagination.size" layout="total, sizes, prev, pager, next, jumper" :total="table.pagination.count">
                </el-pagination>
            </el-row>
        </el-card>
        <el-dialog v-model="dialog.visible" :title="dialog.record.rowid ? this['dialog.editable'] ? 'Edit' : 'View' : 'New'">
            <el-form ref="FormRef" :model="dialog.record" label-position="right" label-width="80px" :rules="constants.rules" :hide-required-asterisk="!this['dialog.editable']">
                <el-form-item label="Type" prop="type">
                    <el-select v-model="dialog.record.type" :disabled="dialog.record.rowid" @change="dialog.record.lang = constants.type[dialog.record.type][0]" placeholder="Select a type">
                        <el-option v-for="type in Object.keys(constants.type)" :key="type" :label="type" :value="type">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="Language" prop="lang">
                    <el-select v-model="dialog.record.lang" :disabled="dialog.record.rowid" placeholder="Select a language">
                        <el-option v-for="lang in constants.type[dialog.record.type]" :key="lang" :label="lang" :value="lang">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="Name" prop="name">
                    <el-input v-model="this['proxy.dialog.record.name.value']" placeholder="Please input a name" minlength="2" maxlength="32" show-word-limit v-if="dialog.record.type === 'module' && !dialog.record.rowid">
                        <template #prepend v-if="dialog.record.type === 'module'">
                            <el-checkbox-group v-model="this['proxy.dialog.record.name.prefix']" :disabled="dialog.record.active">
                                <el-checkbox-button label="node_modules/" key="node_modules/"></el-checkbox-button>
                            </el-checkbox-group>
                        </template>
                    </el-input>
                    <el-input v-model="dialog.record.name" placeholder="Please input a name" minlength="2" maxlength="32" show-word-limit :disabled="dialog.record.rowid" @change="!!~['controller', 'resource'].indexOf(dialog.record.type) && (dialog.record.url = dialog.record.name.replace(/([a-z])([A-Z]\w)/g, '$1/$2').toLowerCase())" v-else>
                    </el-input>
                </el-form-item>
                <el-form-item label="Method" v-if="dialog.record.type == 'controller'">
                    <el-select v-model="dialog.record.method" placeholder="Please select a method" :disabled="dialog.record.active">
                        <el-option label="Any" value=""></el-option>
                        <el-option label="Get" value="GET"></el-option>
                        <el-option label="Post" value="POST"></el-option>
                        <el-option label="Put" value="PUT"></el-option>
                        <el-option label="Delete" value="DELETE"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="Url" v-if="!!~['controller', 'resource'].indexOf(dialog.record.type)">
                    <el-input v-model="dialog.record.url" :disabled="dialog.record.active">
                        <template #prepend>
                            {{ this["dialog.url.prepend"] }}
                        </template>
                        <template #append v-if="!this['dialog.editable']">
                            <el-link type="primary" :underline="false" :icon="Position" :href="this['dialog.url.prepend'] + dialog.record.url"></el-link>
                        </template>
                    </el-input>
                </el-form-item>
                <el-form-item label="Cron" prop="cron" v-if="dialog.record.type == 'crontab'">
                    <el-input v-model="dialog.record.cron" placeholder="For example: */5 * * * *" :disabled="dialog.record.active"></el-input>
                </el-form-item>
                <el-form-item v-if="this['dialog.editable']">
                    <el-button type="primary" :loading="dialog.loading" @click="onDialogSubmit(FormRef)">Submit</el-button>
                    <el-button @click="onDialogCancel(FormRef)">Cancel</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>
    </div>
    <script>
        const { ElMessage, ElMessageBox, } = ElementPlus
        Vue.createApp({
            setup() {
                const { ref } = Vue
                const { Delete, Download, Edit, Search, Plus, Position, Upload, VideoPause, VideoPlay, } = ElementPlusIconsVue
                const UploadRef = ref()
                return {
                    Delete,
                    Download,
                    Edit,
                    Search,
                    Plus,
                    Position,
                    Upload,
                    VideoPause,
                    VideoPlay,
                    FormRef: ref(),
                    UploadRef,
                    UploadClick: () => {
                        UploadRef.value.ref.click()
                    },
                }
            },
            computed: {
                "dialog.editable"() {
                    if (["daemon", "module", "template"].indexOf(this.dialog.record.type) !== -1) { // 这三种无字段可修改
                        return !this.dialog.record.rowid
                    }
                    return !this.dialog.record.active
                },
                "dialog.url.prepend"() {
                    return { controller: "/service/", resource: "/resource/", }[this.dialog.record.type]
                },
                "proxy.dialog.record.name.prefix": {
                    get() {
                        return [this.dialog.record.name?.indexOf("node_modules/") === 0 && "node_modules/"].filter(i => i)
                    },
                    set(v) {
                        this.dialog.record.name = (v[0] || "") + this["proxy.dialog.record.name.value"]
                    },
                },
                "proxy.dialog.record.name.value": {
                    get() {
                        return this.dialog.record.name?.replace(/^node_modules\//, "") || ""
                    },
                    set(v) {
                        this.dialog.record.name = (this["proxy.dialog.record.name.prefix"][0] || "") + v
                    },
                },
            },
            data() {
                return {
                    constants: {
                        type: {
                            controller: ["typescript"],
                            crontab: ["typescript"],
                            daemon: ["typescript"],
                            module: ["typescript"],
                            resource: ["html", "text", "vue", "json"],
                            template: ["html", "text", "vue"],
                        },
                        rules: {
                            type: [{
                                required: true,
                                message: "Type is required",
                                trigger: "blur",
                            }],
                            lang: [{
                                required: true,
                                message: "Language is required",
                                trigger: "blur",
                            }],
                            name: [{
                                required: true,
                                message: "Name is required",
                                trigger: "submit", // 提交表单的时候校验必填
                            }, {
                                validator: (rule, value, callback) => {
                                    if (this.dialog.record.type === "module") {
                                        if (/^(node_modules\/)?\w{2,32}$/.test(value)) {
                                            return callback()
                                        }
                                    } else if (/^\w{2,32}$/.test(value)) {
                                        return callback()
                                    }
                                    return callback(new Error("Name must be a string that matches /[A-Za-z0-9_]{2,32}/"))
                                },
                                trigger: "blur",
                            }],
                            cron: [{
                                required: true,
                                message: "Cron is required",
                                trigger: "blur",
                            }],
                        },
                    },
                    table: {
                        records: [],
                        pagination: {
                            index: 1,
                            size: 5,
                            count: 0,
                        },
                        search: {
                            keyword: "",
                            type: "",
                        },
                        sort: {
                            prop: "rowid",
                            order: "desc",
                        },
                        loading: false,
                    },
                    dialog: {
                        record: {},
                        visiable: false,
                        loading: false,
                    },
                }
            },
            methods: {
                onTableFetch(reset) {
                    const that = this
                    if (reset) {
                        that.table.pagination.index = 1
                    }
                    that.table.loading = true
                    fetch(`source?name=%25${that.table.search.keyword}%25&type=${that.table.search.type}&from=${(that.table.pagination.index - 1) * that.table.pagination.size}&size=${that.table.pagination.size}&sort=${that.table.sort.prop} ${that.table.sort.order}&basic`, {
                        method: "GET",
                    }).then(r => {
                        if (r.status != 200) {
                            throw new Error(r.statusText)
                        }
                        return r.json()
                    }).then(r => {
                        that.table.pagination.count = r.data.total
                        that.table.pagination.index = Math.min(that.table.pagination.index, Math.ceil(r.data.total / that.table.pagination.size))
                        that.table.records = r.data.sources
                    }).catch(e => {
                        ElMessage.error(e.message)
                    }).finally(() => {
                        that.table.loading = false
                    })
                },
                onTablePageSizeChange(value) {
                    this.table.pagination.size = value
                    this.onTableFetch()
                },
                onTablePageCurrentChange(value) {
                    this.table.pagination.index = value
                    this.onTableFetch()
                },
                onTableImport(file) {
                    const that = this
                    const reader = new FileReader()
                    reader.onload = function () {
                        fetch("source?bulk", {
                            method: "POST",
                            body: this.result,
                        }).then(r => r.json()).then(r => {
                            if (r.code === "0") {
                                ElMessage.success("Import succeeded")
                                that.onTableFetch()
                            } else {
                                ElMessage.error(r.message)
                            }
                        })
                    }
                    reader.readAsText(file.raw, "utf-8")
                },
                onTableExport() {
                    // 移动端浏览器无法通过 window.open 在新标签打开链接，这里使用 a 标签下载
                    const a = document.createElement("a")
                    a.href = `source?name=%25${this.table.search.keyword}%25&type=${this.table.search.type}&size=5000&bulk`
                    a.download = "" // 如果不设置 download 属性，移动端取消下载任务时，可能会影响当前页面的加载状态
                    a.click()
                },
                onTableSortChange({ prop, order }) {
                    if (!order) {
                        this.table.sort.prop = "rowid"
                        this.table.sort.order = "desc"
                    } else {
                        this.table.sort.prop = prop
                        this.table.sort.order = { ascending: "asc", descending: "desc" }[order]
                    }
                    this.onTableFetch()
                },
                onTableRowEdit(record) {
                    this.dialog.record = { ...record, }
                    this.dialog.visible = true
                },
                onTableRowCode(record) {
                    window.open(`editor.html?name=${record.name}&type=${record.type}` + (record.rowid ? "" : "&example"))
                },
                onTableRowDelete(record) {
                    const that = this
                    ElMessageBox.confirm("This operation will permanently delete the record. Do you want to continue ?", "Tips", {
                        confirmButtonText: "Confirm",
                        cancelButtonText: "Cancel",
                        type: "warning",
                        beforeClose: (action, instance, done) => {
                            if (action === "confirm") {
                                instance.confirmButtonLoading = true
                                instance.confirmButtonText = "Delete..."
                                fetch(`source?name=${record.name}&type=${record.type}`, {
                                    method: "DELETE",
                                }).then(r => r.json()).then(r => {
                                    if (r.code === "0") {
                                        ElMessage.success("Delete succeeded")
                                        that.onTableFetch()
                                    } else {
                                        ElMessage.error(r.message)
                                    }
                                    instance.confirmButtonLoading = false
                                })
                            }
                            done()
                        },
                    }).catch(() => { })
                },
                onTableRowActiveSwitch(record) {
                    const that = this
                    fetch("source", {
                        method: "PUT",
                        body: JSON.stringify({
                            name: record.name,
                            type: record.type,
                            active: record.active,
                        }),
                    }).then(r => r.json()).then(r => {
                        if (r.code === "0") {
                            ElMessage.success((record.active ? "Active" : "Inactive") + " succeeded")
                        } else {
                            ElMessage.error(r.message)
                            record.active = !record.active
                        }
                    })
                },
                onTableRowStatusSwitch(record) {
                    const that = this,
                        status = record.status === "true" ? "false" : "true"
                    fetch("source", {
                        method: "PUT",
                        body: JSON.stringify({
                            name: record.name,
                            type: record.type,
                            status,
                        }),
                    }).then(r => r.json()).then(r => {
                        if (r.code === "0") {
                            ElMessage.success((status === "true" ? "Run" : "Stop") + " succeeded")
                            record.status = status
                        } else {
                            ElMessage.error(r.message)
                        }
                    })
                },
                onDialogNew() {
                    this.dialog.record = {
                        method: "",
                    }
                    this.dialog.visible = true
                },
                onDialogSubmit(FormRef) {
                    const that = this
                    FormRef.validate(valid => {
                        if (!valid) {
                            return false
                        }
                        const { name, type, lang, method, url, cron, } = that.dialog.record
                        fetch("source", {
                            method: !that.dialog.record.rowid ? "POST" : "PUT",
                            body: JSON.stringify({ name, type, lang, method, url, cron, }),
                        }).then(r => r.json()).then(r => {
                            if (r.code === "0") {
                                ElMessage.success("Submit succeeded")
                                that.dialog.visible = false
                                that.onTableFetch()
                                !that.dialog.record.rowid && that.onTableRowCode(that.dialog.record)
                            } else {
                                ElMessage.error(r.message)
                            }
                        })
                    })
                },
                onDialogCancel(FormRef) {
                    FormRef.resetFields()
                    this.dialog.visible = false
                },
            },
            mounted: function () {
                this.onTableFetch()
            },
        }).use(ElementPlus).mount("#app")
    </script>
</body>

</html>