<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.13/theme-chalk/index.min.css">
    <title>Cube</title>
    <base target="_blank" /><!-- 网页中所有的超链接的目标地址都在新建窗口中打开 -->
    <style>
        html, body {
            height: 100%;
            margin: 0px;
            background-color: #f0f2f5;
        }
        .el-table__header .cell {
            padding-right: 0 !important;
        }
        .el-pagination .el-pagination__total {
            float: left;
        }
        .el-table button {
            padding: 0;
        }
        .el-table .disabled {
            border-color: #e4e7ed;
            color: #c0c4cc;
            cursor: not-allowed;
        }
        .danger {
            color: #F56C6C;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <div style="height: 100%; padding: 32px; position: relative;">
            <h3 style="margin: 0 0 20px; font-weight: 400; color: #1f2f3d; font-size: 22px; border-left: 5px solid #50bfff; padding: 8px 16px;">
                Cube
            </h3>
            <el-card>
                <el-row style="border-bottom: 1px solid #DCDFE6; padding-bottom: 10px;">
                    <el-dropdown @command="onCreate" placement="bottom-start" trigger="click" :hide-on-click="false">
                        <el-button icon="el-icon-plus">New</el-button>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item command="controller">Controller</el-dropdown-item>
                            <el-dropdown-item command="daemon">Daemon</el-dropdown-item>
                            <el-dropdown-item command="crontab">Crontab</el-dropdown-item>
                            <el-dropdown-item command="module">Module</el-dropdown-item>
                            <el-dropdown-item command="template,html" divided>Template(Html)</el-dropdown-item>
                            <el-dropdown-item divided>
                                <el-dropdown @command="onCreate" placement="right-start" trigger="click">
                                    <span class="el-dropdown-link">
                                        Resource<i class="el-icon-arrow-right el-icon--right"></i>
                                    </span>
                                    <el-dropdown-menu slot="dropdown">
                                        <el-dropdown-item command="resource,vue">Html</el-dropdown-item>
                                        <el-dropdown-item command="resource,vue">Vue</el-dropdown-item>
                                    </el-dropdown-menu>
                                </el-dropdown>
                            </el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                    <el-upload ref="uploader" :auto-upload="false" action="" :on-change="onImport" :show-file-list="false" accept="application/json" style="display: none;">
                    </el-upload>
                    <el-button-group>
                        <el-button icon="el-icon-upload2" @click="() => this.$refs.uploader.$refs['upload-inner'].$refs.input.click()">Import</el-button>
                        <el-button icon="el-icon-download" @click="onExport">Export</el-button>
                    </el-button-group>
                    <div style="float: right; display: flex;">
                        <el-select v-model="search.type" placeholder="Select a type" clearable @change="onFetch(true)">
                            <el-option label="Controller" value="controller">
                            </el-option>
                            <el-option label="Daemon" value="daemon">
                            </el-option>
                            <el-option label="Crontab" value="crontab">
                            </el-option>
                            <el-option label="Module" value="module">
                            </el-option>
                            <el-option label="Template" value="template">
                            </el-option>
                            <el-option label="Resource" value="resource">
                            </el-option>
                        </el-select>
                        <el-input v-model="search.keyword" placeholder="Enter keyword here" clearable @change="onFetch(true)">
                            <i class="el-icon-search el-input__icon" slot="suffix"></i>
                        </el-input>
                    </div>
                </el-row>
                <el-row style="padding-top: 0;">
                    <el-table v-loading="visible.loading4fetch" :data="records" stripe :row-class-name="({ row: record }) => record.active ? '' : 'disabled'" style="width: 100%;" @sort-change="onSortChange">
                        <el-table-column type="expand">
                            <template slot-scope="scope">
                                <el-descriptions style="margin-left: 56px;" :column="3" size="medium" border>
                                    <el-descriptions-item label="Name">
                                        {{ scope.row.name }}
                                    </el-descriptions-item>
                                    <el-descriptions-item label="Type">
                                        {{ scope.row.type }}
                                    </el-descriptions-item>
                                    <el-descriptions-item label="Language">
                                        {{ scope.row.lang }}
                                    </el-descriptions-item>
                                    <el-descriptions-item label="Url" v-if='["controller", "resource"].indexOf(scope.row.type) != -1' :span="2">
                                        <el-link type="primary" :href='({ controller: "/service/", resource: "/resource/" }[scope.row.type] || "") + scope.row.url'>{{ ({ controller: "/service/", resource: "/resource/" }[scope.row.type] || "") + scope.row.url }}</el-link>
                                    </el-descriptions-item>
                                    <el-descriptions-item label="Method" v-if='scope.row.type == "controller"'>
                                        {{ scope.row.method || "Any" }}
                                    </el-descriptions-item>
                                    <el-descriptions-item label="Cron" v-if="scope.row.cron">
                                        {{ scope.row.cron }}
                                    </el-descriptions-item>
                                </el-descriptions>
                            </template>
                        </el-table-column>
                        <el-table-column label="Name" prop="name" sortable :show-overflow-tooltip="true">
                        </el-table-column>
                        <el-table-column label="Type">
                            <template slot-scope="scope">
                                {{ scope.row.type.charAt(0).toUpperCase() + scope.row.type.slice(1) }}
                            </template>
                        </el-table-column>
                        <el-table-column label="Language">
                            <template slot-scope="scope">
                                {{ scope.row.lang.charAt(0).toUpperCase() + scope.row.lang.slice(1) }}
                            </template>
                        </el-table-column>
                        <el-table-column label="Last Modified Date" prop="last_modified_date" :formatter="(row, column, value) => value?.replace(/T/, ' ')?.replace(/Z/, '')" sortable>
                        </el-table-column>
                        <el-table-column label="Operation">
                            <template slot-scope="scope">
                                <el-switch v-model="scope.row.active" @change="onRowActiveSwitch(scope.row)" style="margin-right: 12px;" :disabled='scope.row.status == "true"'>
                                </el-switch>
                                <el-button type="text" @click="onRowEdit(scope.row)" icon="el-icon-edit">
                                </el-button>
                                <el-button type="text" @click="onRowSetting(scope.row)" icon="el-icon-setting" v-if="!scope.row.active">
                                </el-button>
                                <el-button type="text" @click="onRowDelete(scope.row)" icon="el-icon-delete" v-if="!scope.row.active" class="danger">
                                </el-button>
                                <el-button type="text" @click="onRowStatusSwitch(scope.row)" :icon='scope.row.status == "true" ? "el-icon-video-pause" : "el-icon-video-play"' v-if='scope.row.type == "daemon" && scope.row.active' :class='{ danger: scope.row.status == "true" }'>
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <el-pagination @size-change="onPageSizeChange" @current-change="onPageCurrentChange"
                        :current-page="pagination.index" :page-sizes="[5, 10, 20, 50]" :page-size="pagination.size"
                        layout="total, sizes, prev, pager, next, jumper" :total="pagination.count"
                        style="text-align: right; margin-top: 13px;">
                    </el-pagination>
                </el-row>
            </el-card>
            <el-drawer title="Setting" :visible.sync="visible.setting" size="36">
                <el-form ref="form" :model="record" label-position="right" label-width="80px" style="padding: 30px;">
                    <el-form-item label="Name">
                        <el-input v-model="record.name" disabled></el-input>
                    </el-form-item>
                    <el-form-item label="Type">
                        <el-input v-model="record.type" disabled></el-input>
                    </el-form-item>
                    <el-form-item label="Language">
                        <el-input v-model="record.lang" disabled></el-input>
                    </el-form-item>
                    <el-form-item label="Method" v-if='record.type == "controller"'>
                        <el-select v-model="record.method" placeholder="Please select a method">
                            <el-option label="Any" value=""></el-option>
                            <el-option label="Get" value="GET"></el-option>
                            <el-option label="Post" value="POST"></el-option>
                            <el-option label="Put" value="PUT"></el-option>
                            <el-option label="Delete" value="DELETE"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="Url" v-if='["controller", "resource"].indexOf(record.type) != -1'>
                        <el-input v-model="record.url">
                            <template slot="prepend">{{ { controller: "/service/", resource: "/resource/" }[record.type] }}</template>
                        </el-input>
                    </el-form-item>
                    <el-form-item label="Cron" prop="cron"
                        :rules='[{ required: true, message: "Cron is required.", trigger: "blur" }, { pattern: /^(\*|([0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9])|\*\/([0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9])) (\*|([0-9]|1[0-9]|2[0-3])|\*\/([0-9]|1[0-9]|2[0-3])) (\*|([1-9]|1[0-9]|2[0-9]|3[0-1])|\*\/([1-9]|1[0-9]|2[0-9]|3[0-1])) (\*|([1-9]|1[0-2])|\*\/([1-9]|1[0-2])) (\*|([0-6])|\*\/([0-6]))$/, message: "Invalid cron expression.", trigger: ["blur", "change"] }]'
                        v-if='record.type == "crontab"'>
                        <el-input v-model="record.cron" placeholder="For example: */5 * * * *"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" :loading="visible.loading4setting" @click="onSettingSubmit">Submit</el-button>
                        <el-button @click="visible.setting = !visible.setting">Cancel</el-button>
                    </el-form-item>
                </el-form>
            </el-drawer>
        </div>
    </div>
</body>
<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.7.14/vue.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.13/index.min.js"></script>
<script>
    new Vue({
        el: "#app",
        data() {
            return {
                records: [],
                pagination: {
                    index: 1,
                    size: 5,
                    count: 0,
                },
                search: {
                    keyword: "",
                    type: "",
                },
                sort: {
                    prop: "rowid",
                    order: "desc",
                },
                visible: {
                    setting: false,
                    loading4fetch: true,
                    loading4setting: false,
                },
                record: {},
            }
        },
        methods: {
            onFetch(reset) {
                const that = this;
                if (reset) {
                    that.pagination.index = 1;
                }
                that.visible.loading4fetch = true;
                fetch(`source?name=${that.search.keyword}&type=${that.search.type}&from=${(that.pagination.index - 1) * that.pagination.size}&size=${that.pagination.size}&sort=${this.sort.prop} ${this.sort.order}&basic`, {
                    method: "GET",
                }).then(r => r.json()).then(r => {
                    that.pagination.count = r.data.total;
                    that.pagination.index = Math.min(that.pagination.index, Math.ceil(r.data.total / that.pagination.size));
                    that.records = r.data.sources;
                }).catch(e => {
                    that.$message({
                        type: "error",
                        message: e.message,
                    });
                }).finally(() => {
                    that.visible.loading4fetch = false;
                });
            },
            onPageSizeChange(value) {
                this.pagination.size = value;
                this.onFetch();
            },
            onPageCurrentChange(value) {
                this.pagination.index = value;
                this.onFetch();
            },
            onCreate(c) {
                const [type, lang] = c.split(",");
                window.open(`editor.html?type=${type}&lang=${lang || "typescript"}`);
            },
            onImport(file) {
                const that = this;
                const reader = new FileReader();
                reader.onload = function () {
                    fetch("source?bulk", {
                        method: "POST",
                        body: this.result,
                    }).then(r => r.json()).then(r => {
                        if (r.code === "0") {
                            that.$message({
                                type: "success",
                                message: "Import succeeded.",
                            });
                            that.onFetch();
                        } else {
                            that.$message({
                                type: "error",
                                message: r.message,
                            });
                        }
                    });
                };
                reader.readAsText(file.raw, "utf-8");
            },
            onExport() {
                // 移动端浏览器无法通过 window.open 在新标签打开链接，这里使用 a 标签下载
                const a = document.createElement("a");
                a.href = `source?name=${this.search.keyword}&type=${this.search.type}&size=5000&bulk`;
                a.download = ""; // 如果不设置 download 属性，移动端取消下载任务时，可能会影响当前页面的加载状态
                a.click();
            },
            onSortChange({ prop, order }) {
                if (!order) {
                    this.sort.prop = "rowid";
                    this.sort.order = "desc";
                } else {
                    this.sort.prop = prop;
                    this.sort.order = { ascending: "asc", descending: "desc" }[order];
                }
                this.onFetch();
            },
            onRowSetting(record) {
                this.record = { ...record };
                this.visible.setting = true;
            },
            onRowEdit(record) {
                window.open(`editor.html?name=${record.name}&type=${record.type}&lang=${record.lang}`);
            },
            onRowDelete(record) {
                const that = this;
                that.$confirm("This operation will permanently delete the record. Do you want to continue?", "Tips", {
                    confirmButtonText: "Confirm",
                    cancelButtonText: "Cancel",
                    type: "warning",
                    beforeClose: (action, instance, done) => {
                        if (action === "confirm") {
                            instance.confirmButtonLoading = true;
                            instance.confirmButtonText = "Delete...";
                            fetch(`source?name=${record.name}&type=${record.type}`, {
                                method: "DELETE",
                            }).then(r => r.json()).then(r => {
                                if (r.code === "0") {
                                    that.$message({
                                        type: "success",
                                        message: "Delete succeeded.",
                                    });
                                    that.onFetch();
                                } else {
                                    that.$message({
                                        type: "error",
                                        message: r.message,
                                    });
                                }
                                instance.confirmButtonLoading = false;
                            });
                        }
                        done();
                    },
                }).catch(() => { });
            },
            onRowActiveSwitch(record) {
                const that = this;
                fetch("source", {
                    method: "PATCH",
                    body: JSON.stringify(record),
                }).then(r => r.json()).then(r => {
                    if (r.code === "0") {
                        that.$message({
                            type: "success",
                            message: (record.active ? "Active" : "Inactive") + " succeeded.",
                        });
                    } else {
                        that.$message({
                            type: "error",
                            message: r.message,
                        });
                        record.active = !record.active;
                    }
                });
            },
            onRowStatusSwitch(record) {
                const that = this,
                    status = record.status == "true" ? "false" : "true";
                fetch("source", {
                    method: "PATCH",
                    body: JSON.stringify({
                        ...record,
                        status,
                    }),
                }).then(r => r.json()).then(r => {
                    if (r.code === "0") {
                        that.$message({
                            type: "success",
                            message: (status == "true" ? "Run" : "Stop") + " succeeded.",
                        });
                        record.status = status;
                    } else {
                        that.$message({
                            type: "error",
                            message: r.message,
                        });
                    }
                });
            },
            onSettingSubmit() {
                const that = this;
                that.$refs["form"].validate(valid => {
                    if (!valid) {
                        return false;
                    }
                    fetch("source", {
                        method: "PATCH",
                        body: JSON.stringify({
                            name: that.record.name,
                            type: that.record.type,
                            lang: that.record.lang,
                            active: that.record.active,
                            method: that.record.method,
                            url: that.record.url,
                            cron: that.record.cron,
                        }),
                    }).then(r => r.json()).then(r => {
                        if (r.code === "0") {
                            that.$message({
                                type: "success",
                                message: "Setting succeeded.",
                            });
                            that.visible.setting = false;
                            that.onFetch();
                        } else {
                            that.$message({
                                type: "error",
                                message: r.message,
                            });
                        }
                    });
                });
            }
        },
        mounted: function () {
            this.onFetch();
        },
    });
</script>

</html>
